{
  "app": {
    "guid": "a2c3ef07-882f-40a1-a7a9-e4aa88272005"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "YTJjM2VmMDctODgyZi00MGExLWE3YTktZTRhYTg4MjcyMDA1",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "Token"
  }
}